*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: 800;
}

body{
    overflow-x: hidden;
}

:root{
    --naranja:  rgb(255, 115, 0);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track{
    background-color: black;
}


.nav-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: fixed; 
    z-index: 100;
}


.nav{
    display: flex;
    position: fixed; 
    background-color: rgba(65, 65, 65, 0.651);
    width: 45vw;
    height: 50px;
    z-index: 100;
    top: 10px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
}

.nav a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.nav a:hover{
    color:var(--naranja) ;
}


.box-img{
    height: 120px;
    margin-left: 50px;
    cursor: pointer;
    background-color: rgba(255, 115, 0, 0);
}

.box-img img{
    height: 120px;
    padding: 20px;
    transition: all 300ms;
}

.box-img:hover img{
   transform: scale(1.2);
}


.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: transparent;
    flex-wrap: wrap;
    z-index: 1;
}

.img-background-home{
    position: absolute;
    top: 0;
    z-index: 0;
   width: 100%;
   height: 100%;
}

.img-head{
    height: 90vh;
    z-index: 1;
}

.box-icon-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;    
    z-index: 100;
    z-index: 1;
}


.info-box{
    background-color: rgba(24, 24, 24, 0);
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 00px;
    top: 0;
    z-index: 1;
}

.text-desc{
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 15px;
    z-index: 1;
}

.text-desc span{
    font-weight: 500;
    z-index: 1;
}
.text-title{
    font-size: 3rem;
    line-height: 50px;
    color: white;
    z-index: 1;
}

.text-title span{
    font-size: 2.2rem;
    font-family: 'Poppins';
    font-weight: 800;
    color: var(--naranja);
}

.title-orange{
    background: -webkit-linear-gradient(75deg,var(--naranja), rgb(255, 17, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
}

lord-icon{
    height: 120px !important;
}

.box-ancles{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 15px;
    padding-left: 10px;
}

.box-ancles a svg{
    scale: 2 !important;
    color: rgb(255, 255, 255);
    transition: all 300ms;
}

.box-ancles a svg:hover{
    scale: 2.2 !important;
    color: var(--naranja);
}


.box-ancles-contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
    padding-left: 10px;
}


.box-ancles-contact a svg{
    scale: 2 !important;
    color: var(--naranja);
    transition: all 300ms;
}

.box-ancles-contact a svg:hover{
    scale: 2.2 !important;
    color: black;
}

.habilidades{
    height: auto;
    padding-top: 100px;
    background-size: cover;
    background-color: black;
    background-position: top;
    border-top: 5px solid groove black;
    background-clip: padding-box;
    clip-path: ellipse(100% 60% at 50% 40%);
}

#contacto{
    padding-top: 200px;
    padding-bottom: 100px;
    
}



.img-throw{
    z-index: 0;
    transform: translateY(-40vw);
}

.box-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.img-titles{
    height: 55px;
    margin-bottom: 25px;
   
}

.card-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;    
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
   
}

.card{
    flex: 0 0 25.333333%;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 120px;
    cursor: pointer;
}

.full-card{
    background: rgb(50,50,50);
    background: -moz-linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    background: -webkit-linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    background: linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323232",endColorstr="#242424",GradientType=1);
    width: 100%;
    height: 100px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s !important;
}

.card:hover img{
    transform: translateY(-15px);
}

.card img{
    transition: all 300ms;
    height: 120px;
    margin-bottom: 15px;
}

.card h2{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.jobs{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    padding-top: 100px;
}

.box-job-most{
    height: 180px;
    width: 350px;
    background-color: grey;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms;
    margin: 20px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.322));
    background-size: cover;
    background-position: center;
}

.box-job-most:hover{
    transform: scale(1.1);
    border:2px rgb(255, 51, 0) solid;
}

.box-job-most img{
    height: 60px;
}

.center-tubo{
    background-image: url(./res/clients/ca1cmpress.jpg);
}

.center-tubo:hover{
    background-image: url(./res/clients/screen-capture.gif);
}

.antonia{
    background-image: url(./res/clients/experiencia\ 2\ sp.png);
}

.antonia:hover{
    background-color: transparent;
    background-image: url(./res/clients/Antonia.gif);
}

.indian{
    background-image: url(./res/clients/vshd-design-jlt-zaaz-wellness--amp--beauty-spa-shops-archello.1616054943\ 1.png);
}

.indian:hover{
    background-image: url(./res/clients/indianG.gif);
}


.hidraulica{
    background-image: url(./res/clients/contact.png);
}

.hidraulica:hover{
    background-image: url(./res/clients/hidraulica.gif);
}


.floudtech{
    background-image: url(./res/clients/Innovation-home-mobile.webp);
}


.floudtech:hover{
    background-image: url(./res/clients/floud.gif);
}


.diforte{
    background-image: url(./res/clients/varsovia\ esq\ 1.png);
}


.diforte:hover{
    background-image: url(./res/clients/diforte.gif);
}


.padmusic{
    background-image: url(res/clients/piano-1655558__480.png);
}

.box-job-most:hover img{
    display: none;
}


.box-jobs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}


.cont-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box-50{
    width: 45vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

h3{
    margin-top: 20px;
}

h4{
    font-weight: 100;
    margin-top: 10px;
}

input, textarea{
    border: 0px !important;
    border-bottom: 3px solid rgb(255, 102, 0) !important;
    width: 30vw;
    height: 50px;
    padding:10px;
    margin-top: 40px;
    font-size: 1vw;
    font-weight: 300 !important;
    color: black;
}

input:focus, textarea:focus, textarea:active,input:active {
    outline: none;
}

#submit{
    width: 76%;
    padding:5px;
    height: 50px;
    margin-top: 35px;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(255, 102, 0);
    border-radius: 8px;
    transition: all 300ms;
}

#submit:hover{
    background-color: rgb(255, 102, 0);;
    color: white;
}