*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: 800;
}

body{
    overflow-x: hidden;
}

:root{
    --naranja:  rgb(255, 115, 0);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track{
    background-color: black;
}

.nav-bar{
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.box-img{
    height: 120px;
    margin-left: 50px;
    cursor: pointer;
    background-color: rgba(255, 115, 0, 0);
}

.box-img img{
    height: 120px;
    padding: 20px;
    transition: all 300ms;
}

.box-img:hover img{
   transform: scale(1.2);
}


.home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: transparent;
    flex-wrap: wrap;
    z-index: 1;
}

.img-background-home{
    position: absolute;
    top: 0;
    z-index: 0;
   width: 100%;
   height: 100%;
}

.img-head{
    height: 90vh;
    z-index: 1;
}

.box-icon-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;    
    z-index: 100;
    z-index: 1;
}


.info-box{
    background-color: rgba(24, 24, 24, 0);
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    top: 0;
    z-index: 1;
}

.text-desc{
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 15px;
    z-index: 1;
}

.text-desc span{
    font-weight: 500;
    z-index: 1;
}
.text-title{
    font-size: 4rem;
    line-height: 75px;
    color: white;
    z-index: 1;
}

.text-title span{
    font-size: 3rem;
    font-family: 'Poppins';
    font-weight: 800;
    color: var(--naranja);
}

.title-orange{
    background: -webkit-linear-gradient(75deg,var(--naranja), rgb(255, 17, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
}

lord-icon{
    height: 120px !important;
}

.box-btn-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.box-btn-head button{
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
}

.box-btn-head button:first-child{
    background-color: var(--naranja);
    color: white;
    border: 2px solid var(--naranja);
    transition: all 300ms;
}

.box-btn-head button:first-child:hover{
    background-color: rgb(255, 81, 0);
    border: 2px solid rgb(255, 81, 0);
}

.box-btn-head button:last-child{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);  
    border: 2px solid white;
    transition: all 300ms;
}

.box-btn-head button:last-child:hover{
    color: var(--naranja); 
    border: 2px solid var(--naranja);
}


.habilidades{
    height: auto;
    padding-bottom: 300px;
    padding-top: 250px;
    background-image: url(./res/layered-peaks-haikei.svg);
    background-size: cover;
    background-position: top;
    border-top: 5px solid groove black;
}

.img-throw{
    z-index: 0;
    transform: translateY(-40vw);
}

.box-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

.img-titles{
    height: 55px;
    margin-bottom: 25px;
   
}

.card-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;    
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
   
}

.card{
    flex: 0 0 25.333333%;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 120px;
    cursor: pointer;
}

.full-card{
    background: rgb(50,50,50);
    background: -moz-linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    background: -webkit-linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    background: linear-gradient(143deg, rgba(50,50,50,1) 0%, rgba(36,36,36,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323232",endColorstr="#242424",GradientType=1);
    width: 100%;
    height: 100px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s !important;
}

.card:hover img{
    transform: translateY(-15px);
}

.card img{
    transition: all 300ms;
    height: 120px;
    margin-bottom: 15px;
}

.card h2{
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

.jobs{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
}

.box-job-most{
    height: 180px;
    width: 350px;
    background-color: grey;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms;
    margin: 20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.815));
    background-size: cover;
    background-position: center;
}

.box-job-most:hover{
    transform: scale(1.2);
    border:4px var(--naranja) solid;
}

.box-job-most img{
    height: 60px;
}

.center-tubo{
    background-image: url(./res/clients/ca1cmpress.jpg);
}

.center-tubo:hover{
    background-image: url(./res/clients/screen-capture.gif);
}

.antonia{
    background-image: url(./res/clients/experiencia\ 2\ sp.png);
}

.antonia:hover{
    background-color: transparent;
    background-image: url(./res/clients/Antonia.gif);
}

.indian{
    background-image: url(./res/clients/vshd-design-jlt-zaaz-wellness--amp--beauty-spa-shops-archello.1616054943\ 1.png);
}

.indian:hover{
    background-image: url(./res/clients/indianG.gif);
}


.hidraulica{
    background-image: url(./res/clients/contact.png);
}

.hidraulica:hover{
    background-image: url(./res/clients/screen-capture.gif);
}


.box-job-most:hover img{
    display: none;
}


.box-jobs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px;
}